"*":
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "6c76b40e-a881-4b14-aa78-31401c1ca37c"
    html:
      indent_size: 2
  "atom-notes":
    directory: "/home/sergej/Dropbox/notes"
  "autocomplete-python":
    pythonPaths: "/home/sergej/.virtualenvs/$PROJECT_NAME/bin/python;/usr/bin/python3"
    useKite: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "atom-beautify"
      "open-terminal-here"
    ]
    projectHome: "/home/sergej/Code"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    useTreeSitterParsers: true
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Fira Mono"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "6bd9eac5-fb33-596d-8947-bd2c2321b109"
  "file-icons": {}
  "gtk-dark-theme": {}
  "highlight-selected":
    showResultsOnScrollBar: true
  latex:
    buildOnSave: true
    enableExtendedBuildMode: false
    openResultInBackground: false
    opener: "evince"
    outputDirectory: "_tex"
  "one-dark-ui": {}
  "one-light-ui": {}
  "open-terminal-here":
    command: "gnome-terminal"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    notifyReloads: false
  "project-plus":
    notifications: false
    showPath: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.md"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
      "text.xml"
      "text.html.basic"
    ]
    knownWords: [
      "Chodarev"
      "metamodel"
    ]
    localePaths: [
      "/usr/share/myspell/"
    ]
    locales: [
      "en-US"
      "sk-SK"
    ]
  "split-diff":
    colors: {}
  "tree-view":
    hideIgnoredNames: true
  "updater-notify":
    pkgType: "RedHat"
  "vim-mode-plus":
    statusBarModeStringStyle: "long"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".basic.html.text":
  editor:
    tabLength: 2
".beamer.latex.tex.text":
  editor:
    tabLength: 2
".bibtex.text":
  editor:
    tabLength: 2
".html.liquid.text":
  editor:
    tabLength: 2
".latex.memoir.tex.text":
  editor:
    tabLength: 2
".latex.tex.text":
  editor:
    tabLength: 2
".text.xml":
  editor:
    tabLength: 2
".text.xml.xsl":
  editor:
    tabLength: 2
