'body':
    'ctrl-alt-1': 'window-size:narrow'
    'ctrl-alt-2': 'window-size:medium'
    'ctrl-alt-3': 'window-size:wide'
    'ctrl-alt-n': 'atom-notes:toggle'
    'f12': 'me:switch-color-theme'

'atom-workspace':
    'ctrl-alt-t': 'open-terminal-here:open-root'
