packages: [
  "atom-jinja2"
  "build"
  "build-make"
  "busy-signal"
  "clipboard-plus"
  "color-picker"
  "date"
  "editorconfig"
  "file-icons"
  "find-scroll-marker"
  "gtk-dark-theme"
  "highlight-selected"
  "ide-docker"
  "ide-yaml"
  "intentions"
  "language-docker"
  "language-haskell"
  "language-hugo"
  "language-ini"
  "language-latex"
  "language-markdown"
  "language-nginx"
  "latex"
  "linter"
  "linter-clang"
  "linter-ui-default"
  "make-executable"
  "one-dark-vivid-syntax"
  "open-file"
  "open-no-binaries"
  "open-terminal-here"
  "package-sync"
  "piatto-light-syntax"
  "pigments"
  "project-plus"
  "scroll-marker"
  "sort-lines"
  "split-diff"
  "toggle-quotes"
]
