'.text.html.basic':
    'Shower slide':
        'prefix': 'slide'
        'body': '<section class="slide">\n\t<h2>${1:Title}</h2>\n\t$0\n</section>'
    'Shower shout slide':
        'prefix': 'shout'
        'body': '<section class="slide">\n\t<h2 class="shout">${1:Title}</h2>\n</section>'
'.text.xml':
    'Link':
        'prefix': 'link'
        'body': '<link href="${1:url}">${2:text}</link>$0'
    'List item':
        'prefix': 'li'
        'body': '<li>$1</li>$0'
    'Unordered list':
        'prefix': 'ul'
        'body': '<ul>\n\t<li>$0</li>\n</ul>'
'.text.latex':
    'Emphasized text':
        'prefix': 'em'
        'body': '\\\\emph{${1:text}}$0'
